.adminContainer {
  padding: 30px;
  background: #f9fafc;
  min-height: 100vh;
}

/* Header (Search + Filter) */
.adminHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 25px;
}

.searchBar {
  display: flex;
  gap: 10px;
}

.searchBar input {
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
}

.primaryBtn {
  padding: 10px 20px;
  background: #2563eb;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
}

.primaryBtn:hover {
  background: #1d4ed8;
}

.filterBar {
  display: flex;
  align-items: center;
  gap: 12px;
}

.selectContainer select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

/* Title */
.resultsTitle {
  margin-bottom: 20px;
  color: #111827;
  font-size: 24px;
}

/* Table Styling */
.tableWrapper {
  overflow-x: auto;
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
}

.dataTable {
  width: 100%;
  border-collapse: collapse;
}

.dataTable th, 
.dataTable td {
  text-align: left;
  padding: 16px;
  border-bottom: 1px solid #e5e7eb;
}

.dataTable th {
  background: #f1f5f9;
  color: #374151;
  font-weight: 600;
}

.dataTable tbody tr:hover {
  background: #f9fafb;
}

/* Action Buttons */
.editBtn, .removeBtn {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 8px;
}

.editBtn {
  background: #055823;
  color: #ffffff;
  font-weight: 450;
  letter-spacing: 1.5px;
}

.editBtn:hover {
  background: #067730;
}

.removeBtn {
  background: #7c0808;
  color: #fff;
    font-weight: 450;
  letter-spacing: 1.5px;
}

.removeBtn:hover {
  background: #dc2626;
}


/* pagination */
.paginationControls {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 25px;
}

.paginationControls button {
  padding: 8px 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: #f9fafb;
  cursor: pointer;
  transition: 0.3s ease;
}

.paginationControls button:hover {
  background: #e5e7eb;
}

.paginationControls button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.activePage {
  background: #2563eb !important;
  color: #fff;
  border-color: #2563eb;
}
