.notifyMainDiv {
  padding: 1rem 0.5rem;
  background-color: #dcdcdc86;
  min-height: 100vh; 
}

.notificationContainer {
  width: 100%;
  max-width: 900px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  gap: 20px;
}

.notificationTitle {
  grid-column: 1/-1;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.3rem;
  text-align: center;
  color: #333;
}

.notificationCard {
  background-color: rgba(184, 222, 231, 0.463);
  border-left: 5px solid #007bff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 1.1rem;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.cardBody{
  display: flex;
  justify-content: space-between;
}

.cardBody button{
  border: 1.5px solid white;
  background-color: black;
  color: white;
  letter-spacing: 2px;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background  0.3s ease-in-out , border  0.3s ease-in-out , color 0.3s ease-in-out;
}
.cardBody button:hover{
  background-color: white;
  color: black;
  border:1.5px solid black;
}
.notificationCard.approved {
  border-color: #28a745;
}

.notificationCard.cancel {
  border-color: #dc3545;
}

.notificationCard h5 {
  margin: 0 0 0.5rem;
  color: #212529;
  font-size: 1.1rem;
}

.notificationCard p {
  margin: 0;
  color: #555;
  font-size: 0.95rem;
  line-height: 1.4;
}
